/*GLOBAL*/
*{
    margin: 0;
    padding: 0;
}
*:focus {
    outline: 0; !important;
}
#showcase {
    background: url("./img/ja.jpeg") no-repeat center;
    height: 100vh;
    background-size: cover;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#showcase .name {
    color: deeppink;
}
#showcase h1 {
    color: white;
    font-size: 50px;
    line-height: 1.5;
}
#showcase p {
     color: white;
    font-size: 30px;
}
#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 2px solid #fff;
    margin-top: 80px;
}

#showcase .button:hover {
    transform: scale(1.2);
    background: deeppink;
    border: 2px solid deeppink;
}


/*Navbar*/
nav {
    font-family: Raleway;
    font-weight: 600;
    background: palevioletred;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    height: 63px;
    position: relative;
    z-index: 1;
}
.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: white;
    transition: all 0.2s;
}

li.logo {
    max-width: 0;
    overflow: hidden;
    background: palevioletred;
    transition: all 0.5s;
}

.fixed-nav li.logo {
    max-width: 500px;
}
.fixed-nav li.logo i:hover {
    transform: scale(1.6);
    color: white;
}

li.logo a {
    color: grey;
}


/*ABOUT*/

/*CONTACT*/

.contactme h2 {
    font-family: Raleway;
    font-size: 50px;
    margin: 15px;
    color: hotpink;
}

.contactme input {
    width: 250px;
    height: 30px;
    margin: 10px;
    border: 3px dotted hotpink;
}
input#subject {
    width: 530px;
}
input[placeholder], textarea[placeholder] {
    font-family: Raleway;
    font-weight: bolder;
}
.contactme div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactme > div {
    display: none;
}

.contactme textarea {
    margin: 15px;
    width: 530px;
    height: 150px;
    border: 3px dotted hotpink;
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    border: 2px solid hotpink;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
}



/*FOOTER*/
footer {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 1.6;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.icons i {
    margin-left: 15px;
    margin-right: 15px;
    color: deeppink;
}
.icons i:hover {
    transform: scale(1.3);
    color: palevioletred;
}
footer p {
    font-size: 13px;
    font-family: Raleway;
}

footer .copyright {
    font-size: 10px;
}

footer p i {
    color: red;
}

.alert {
    display: none;
    text-align: center;
    padding: 10px;
    background: palevioletred;
    color: white;
    margin-bottom: 10px;
    font-weight: bolder;
    font-family: Raleway;
    font-size: 15px;
}